<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <div th:replace="fragments/header :: header-css"/>
    <!-- Bootstrap core CSS -->
    <!--<link rel="stylesheet" th:href="@{/main.css}"/></head>-->

<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
